@charset 'utf-8';


#bd_box {
	width: 100%;
	min-height: 630px;
	padding: 0;
	margin: 0;
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 30px;
}

.system_name {
	padding: 10px 0;
	margin: 0px auto;
	margin-top: 10%;
}
.system_name .BAS_title {
	text-align: center;
	color: #fff;
}

.system_name .chinese {
	font-size: 40px;
	font-family: "楷体";
	font-weight: bold;
}
.system_name .english {
	font-size: 18px;
}


.search_div form {
	width: 70%;
	height: 40px;
	margin: 0px auto;
}

.explane_div {
	padding: 10px;
	margin-top: 50px;
	background-color: #fff;
	opacity: 0.8;
	border-radius: 5px;
}
.explane_div .top{
	width: 30%;
	float: left;
	margin-left: 2%;
}

.explane_div .top .title{
	text-align: center;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #999;
}

.explane_div .top .top_list li{
	color: #333;
	font-size: 16px;
	margin-top: 5px;
	border-bottom: 1px dashed #999;
}


