<!DOCTYPE html>
<html>
<head lang="zh-cn">
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/ZNZC.ico" media="screen" />
	<title>图书分析系统</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">

</head>
<body>

<div id="bd_box">
	<div id="main_div" class="main_div container" >
		<div class="system_name">
			<div class="BAS_title">
				<div class="chinese">图书分析系统</div>
				<div class="english">Books Analysis System</div>
			</div>
		</div>
		<div class="search_div container">
			<form class=" form-group form-inline " method="get" action="/searchRequest">
				<input type="text" class="form-control" style="width: 83%;height: 100%;" name="search_text" placeholder="请输入书籍名称、出版社、作者名称">
				<button class="btn btn-info"  style="width: 12%;height: 100%;" type="submit">search</button>
			</form>
		</div>
		<div class="explane_div container">
			<div class="top top_books">
				<div class="title">
					热门图书
				</div>
				<div class="book_list">
					<ol class="top_list">
						<li>白鹿原 </li>
						<li>世界的凛冬</li>
						<li>好好学习</li>
						<li>散步去 </li>
						<li>地理学与生活（全彩插图第11版） </li>
						<li>百鬼夜行 阳 </li>
						<li>白先勇细说红楼梦 </li>
						<li>地下铁道 </li>
						<li>北京的城墙与城门 </li>
						<li>被占的宅子 </li>
					</ol>
				</div>
			</div>
			<div class="top top_author">
				<div class="title">
					热门作者
				</div>
				<div class="author_list">
					<ol class="top_list">
						<li>陈忠实 </li>
						<li>[英] 肯·福莱特  </li>
						<li>成甲 </li>
						<li>[日] 谷口治郎 </li>
						<li>[美] 阿瑟·格蒂斯 / 朱迪丝·格蒂斯 / 杰尔姆·D. 费尔曼 </li>
						<li>[日] 京极夏彦 </li>
						<li>白先勇 </li>
						<li>[美] 科尔森·怀特黑德</li>
						<li>[瑞典] 喜仁龙（Osvald Sirén） </li>
						<li>[阿根廷] 胡利奥·科塔萨尔 </li>
					</ol>
				</div>
			</div>
			<div class="top top_publish">
				<div class="title">
					热门出版社
				</div>
				<div class="publish_list">
					<ol class="top_list">
						<li>商务印书馆</li>
						<li>人民出版社</li>
						<li>人民文学出版社</li>
						<li>作家出版社</li>
						<li>科学出版社</li>
						<li>清华大学出版社</li>
						<li>中国金融出版社</li>
						<li>人民教育出版社 </li>
						<li>人民邮电出版社</li>
						<li>机械工业出版社</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

	<footer class="footer_state">
		<div class="footer_main container">
			<div class="footer_text pull_left col-xs-12 col-md-8">
				<div class="BAS_title">
					<div class="chinese">图书分析系统</div>
					<div class="english">Books Analysis System</div>
				</div>
				<div class="BAS_info">
					图书分析系统主要是将从豆瓣读书中获取的书籍信息进行分析展示的一个系统，系统的主要目的是为了将这些信息进行大数据分析，挖掘书籍之间的内容关系，出版社关系，作者关系，及某数据的出版历史信息、出版社的出版历史的出版类别、以及作者的出版历史和出版类别。需要建立书籍可视化、出版社可视化、作者可视化。
				</div>
			</div>
			<div class=" other_link col-xs-12 col-md-4 pull_right">
            	<ul class="col-xs-4 col-md-7 service-items sec hidden-xs">
                	<li class="title"><a>热门推广</a></li>
                    <li><a href="http://library.ysu.edu.cn/content.aspx?id=1279 &caid=2" target="_blank">“知识视界”数据库</a></li>
                    <li><a href="http://library.ysu.edu.cn/content.aspx?id=1278&caid=2" target="_blank">数图教育多媒体资源</a></li>
                    <li><a href="http://library.ysu.edu.cn/content.aspx?id=1277&caid=2" target="_blank">库客数字音乐图书馆</a></li>
                    <li><a href="http://library.ysu.edu.cn/content.aspx?id=1242&caid=2" target="_blank">Web of Science在线大讲堂</a></li>
            	</ul>
				<ul class="col-xs-4 col-md-5 service-items sec hidden-xs">
                	<li class="title"><a>友情链接</a></li>
                    <li><a href="http://www.nlc.cn/" target="_blank">中国国家图书馆</a></li>
                    <li><a href="http://library.ysu.edu.cn/" target="_blank">燕山大学图书馆</a></li>
                    <li><a href="https://book.douban.com/" target="_blank">豆瓣读书</a></li>
                    <li><a href="http://aa.ckcest.cn/" target="_blank">AMiner</a></li>
            	</ul>
			</div>
			<div class="col-xs-12 footright col-md-4 text-left">
	            <ul class="attention sec">
	                <li class="title"><a href="#">关注我们</a></li>
	                <li>
	                    <a href="http://mail.163.com/" target="_blank" rel="nofollow">
	                        <span class="glyphicon glyphicon-envelope attention_icon"></span>zhengbinchen2016@163.com
	                    </a>
	                </li>
	                <li class="social-icon">
	                	<a href="" target="_blank" rel="nofollow">
	                        <span class="glyphicon glyphicon-hand-right attention_icon"></span>CHEN360522450
	                    </a>
	                </li>
	                <li class="social-icon">
	                    <img src="/static/images/wechart.jpg" width="50%" height="50%">
	                </li>
	            </ul>
	        </div>
	        <div class="col-xs-12 col-md-12 text-center ui-intro">
	        	<div>图书分析系统 - 更多样化的书籍分析 Copyright © 2017, Books Analysis System, Ltd. All Rights Reserved.</div>
	    	</div>
		</div>
		
	</footer>


</body>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">

function submit_form() {
	$(".search_form").submit()
}
function getTopTenInfo() {
	$.ajax({
		url: "/getTopTenBook",
		async: false,
		type: "get",
		dataType: "json",
		success: function(data) {
			$(".book_list .top_list").html("");
			for(var i=0; i<data.length;i++) {
				var bookJson = JSON.parse(data[i]);
				var bookId = bookJson.url.split("/")[4];
				var bookStr = '<li><a href="/getBookMainInfo/?bookId='+bookId+'">'+bookJson.title+'</a></li>';
				$(".book_list .top_list").append(bookStr);
			}
			
		},
		error: function(e) {
			console.log(e);
		}
	});
	
	$.ajax({
		url: "/getTopTenAuthor",
		async: false,
		type: "get",
		dataType: "json",
		success: function(data) {
			$(".author_list .top_list").html("");
			for(var i=0; i<data.length;i++) {
				var auhtorJson = JSON.parse(data[i]);
				var authorStr = '<li><a href="/getAuthorInfo/?authorName='+auhtorJson._id+'">'+auhtorJson._id+'</a></li>';
				$(".author_list .top_list").append(authorStr);
			}
		},
		error: function(e) {
			console.log(e);
		}
	});
	
	$.ajax({
		url: "/getTopTenPublishing",
		async: false,
		type: "get",
		dataType: "json",
		success: function(data) {
			console.log(data.length);
			$(".publish_list .top_list").html("");
			for(var i=0; i<data.length;i++) {
				var publishingJson = JSON.parse(data[i]);
				var publishingStr = "<li>"+publishingJson._id+"</li>";
				$(".publish_list .top_list").append(publishingStr);
			}
			
		},
		error: function(e) {
			console.log(e);
		}
	});
}

$(function() {
	getTopTenInfo();
});
</script>
</html>